body {
    background-image: url("../Media/another\ background.avif");
    
    
}
h1 {
    text-align: cetner;
}
 
.Killer {
    color: red;
    font-size: 1.5em;
    font-weight: bold;
}
p, dd {
    color: gray;
    font-size: 1.3em;
}

h2 {
    color: white;
}
h3 {
    color: red;
}


section {
    border: 2px solid  black;
    background-color: dark;
  
}

.objectives {
    background-color: black;
    color: white
}


.desc {
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: lightgrey;

}


.top, .home {
    width: 30px;
    height: 20px;
}

